body{
    background-color: #f0f3ef;
}

.content{
    height: 100%;
    width: 900px;
    position: relative;
    margin: auto;
}

/*logo*/
.logo{
    width: 100px;
    height: 60px;
    float: left;
    margin-top: -10px;
    background-color: #f0f3ef;
    margin-left: 30px;
}

/*顶部跳转*/
.layui-tab-title{
    width: 300px;
    float: left;
    margin-left: 20px;
    border: 0px;
}

.search-btn{
    height: 30px;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}

.search-input{
    width: 230px;
    height: 30px;
    margin-top: 5px;
    float: right;
    margin-right: 10px;
}

/*收藏夹内容*/
.content-favorite{
    padding-top: 20px;
}

h2{
    color: #01AAED;
}

/*收藏的商品*/
.content-good{

}

.good-top{
    float: left;
    width: 100%;
}

.good-time{
    float: left;
}
.good-p{
    float: right;
}

/*商品内容*/
.good-picture{
    float: left;
    width: 100px;
    height: 60px;
}

.good-name{
    float: left;
    width: 100px;
    height: 60px;
    margin-top: 24px;
}

.good-price{
    float: left;
}
.good-btn{
    float: left;
}

