.pinpai-title{
    float: left;
    width: 100px;
    line-height: 40px;
}
.pinpai-img-item{
    width: 110px;
    height: 36px;
    margin: 2px 0px;
}
.pinpai-item-div{
    height: 40px;
    width: 120px;
    float: left;
    border: 1px solid #dddddd;
    text-align: center;
    margin-left: 4px;
    border-radius: 1px;
    margin-top: 3px;
}
.pinpai-item-div:hover{
    border: 1px solid red;
}
.pinpai-item-content{
    width: 760px;
    height: 140px;
    float: left;
}
.pinpai-price-item{
    float: left;
    width: auto;
    line-height: 40px;
    margin-right: 20px;
    font-size: 13px;
    color: #444;
    cursor: pointer;
}
.pinpai-price-item:hover{
    color: #1E9FFF;
}
.pinpai-price-content{
    width: 760px;
    height: 40px;
    float: left;
}
.pinpai-size-content{
    width: 760px;
    height: 40px;
    float: left;
}
.pinpai-size-item{
    float: left;
    width: auto;
    line-height: 40px;
    margin-right: 20px;
    font-size: 13px;
    color: #444;
    cursor: pointer;
}
.pinpai-size-item:hover{
    color: #1E9FFF;
}
.list-item{
    width: 25%;
    height: 300px;
    border-radius: 2px;
    background-color: white;
}
.list-item:hover{
    border: 1px solid #f2f2f2;
}















