<!DOCTYPE html>
<html lang="zh-CN" style="height:100%;" xmlns:th="http://www.w3.org/1999/xhtml">
<headx>
    <meta http-equiv="X-UA-Compatible" content="Chrome=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <title>diannao</title>
</headx>
<body>

<button id="test">分析页面</button>
<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
<div id="main" style="width: 1000px;height:400px;"></div>

<script type="text/javascript" src="./static/plugins/jquery/jquery-2.0.3.min.js  "></script>
<script type="text/javascript" src="./static/plugins/layui/layui.js"></script>
<script type="text/javascript" src="./static/plugins/echarts/dist/echarts.min.js"></script>
<script type="text/javascript" src="./static/js/analysis.js"></script>
<script type="text/javascript" src="./static/js/public.js"></script>

</body>
</html>
