<!DOCTYPE html>
<html lang="zh-CN" style="height:100%;" xmlns:th="http://www.w3.org/1999/xhtml">
<headx>
    <meta http-equiv="X-UA-Compatible" content="Chrome=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <title>diannao</title>

    <link rel="stylesheet" type="text/css" href="./static/plugins/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="./static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="./static/css/diannao_detail.css"/>

    <style>
        body{
            background-color: #f0f3ef;
        }
        div{
            box-sizing: border-box;
        }
    </style>

</headx>
<body>
<div class="top-html" style="width: 100%;"></div>
<div class="content-div" style="height: auto;">
    <div class="content">
        <div style="height: 450px; width: 100%; clear: both;background-color: #fff; box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);">
            <div style="float: left; width: 50%; height: 100%;text-align: center; border: 1px solid #f2f2f2;padding-top: 20px;">
                <img src="/static/images/icon_xianshiqi1.jpg" width="400" height="400">
            </div>
            <div style="float: left; width: 50%; height: 100%;padding: 20px;">
                <div class="info-item-title-div">
                    联想(Lenovo)拯救者Y7000英特尔酷睿i5 15.6英寸游戏笔记本电脑( i5-8300H 8G 512G SSD GTX1050 黑)                </div>
                <div class="info-item-title-div">
                    <div class="info-item-title">售   价：</div>
                    <div class="info-item-title-value">2200</div>
                </div>
                <div class="info-item-title-div">
                    <div class="info-item-title">服   务：</div>
                    <div class="info-item-title-value">没有服务</div>
                </div>
                <div class="info-item-title-div">
                    <div class="info-item-title">配送区域：</div>
                    <div class="info-item-title-value">四川省成都市金牛区</div>
                </div>
                <div class="info-item-title-div">
                    <div class="info-item-title">颜   色：</div>
                    <div class="info-item-title-value">红色</div>
                </div>
                <div class="info-item-title-div">
                    <div class="info-item-title">版   本：</div>
                    <div class="info-item-title-value">没有版本</div>
                </div>
                <div class="info-item-title-div">
                    <div class="info-item-title">库存数量：</div>
                    <div class="info-item-title-value">20</div>
                </div>
                <div class="info-item-title-div" style="margin-top: 40px;">
                    <div style="width: 90px; height: 30px; border: 1px solid #C9C9C9;position: relative;float: left;">
                        <input class="number-choice" type="text" value="1">
                        <div class="add-btn">+</div>
                        <div class="delete-btn">-</div>
                    </div>
                    <button class="layui-btn layui-btn-danger layui-btn-sm add-to-shopping" style="margin-left: 20px;">加入购物车</button>
                    <div class="layui-icon layui-icon-star collect-btn" title="收藏"></div>
                </div>
            </div>
        </div>

        <div style="height: auto; width: 100%; margin-top: 10px;background-color: #fff;">
            <div class="layui-tab layui-tab-card">
                <ul class="layui-tab-title" style="width: 100%;margin-left: 0px;">
                    <li class="layui-this">商品介绍</li>
                    <li>规格与包装</li>
                    <li>售后保障</li>
                </ul>
                <div class="layui-tab-content" style="height: 1000px;">
                    <div class="layui-tab-item layui-show">内容1</div>
                    <div class="layui-tab-item">内容2</div>
                    <div class="layui-tab-item">内容3</div>
                    <div class="layui-tab-item">内容4</div>
                    <div class="layui-tab-item">内容5</div>
                </div>
            </div>
        </div>
        <!--底部内容-->
        <div class="bottom-html" style="height: 50px;width: 100%;background-color: #eeeeee;position: absolute;bottom: 0px;"></div>
    </div>

</div>

<script type="text/javascript" src="./static/plugins/jquery/jquery-2.0.3.min.js  "></script>
<script type="text/javascript" src="./static/plugins/layui/layui.js"></script>
<script type="text/javascript" src="./static/js/diannao_detail.js"></script>
<script type="text/javascript" src="./static/js/public.js"></script>

</body>
</html>
