<!DOCTYPE html>
<html lang="zh-CN" style="height:100%;" xmlns:th="http://www.w3.org/1999/xhtml">
<headx>
    <meta http-equiv="X-UA-Compatible" content="Chrome=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>--index--</title>

    <link rel="stylesheet" type="text/css" href="./static/plugins/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="./static/css/index.css"/>

    <style>
        body{
            background-color: #f0f3ef;
        }
        div{
            box-sizing: border-box;
        }
    </style>

</headx>
<body>
    <div class="top-html" style="width: 100%;"></div>
    <div class="content-div">
        <div class="content">
            <!--导航-->
            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief" style="height: 40px;background-color: white;">
                <img class="index-logo" src="./images/logo.jpg">
                <ul class="layui-tab-title">
                    <li class="layui-this">电脑</li>
                    <li>手机</li>
                    <li>评测</li>
                </ul>
                <button class="layui-btn layui-btn-sm search-btn">搜索</button>
                <input type="text" placeholder="搜索" class="layui-input search-input">
            </div>
            <!--滚动部分-->
            <div class="roll-content">
                <div class="roll-content-left">
                    <div class="tool-bar-item">台式电脑</div>
                    <div class="tool-bar-item">笔记本</div>
                    <div class="tool-bar-item">二手电脑</div>
                    <div class="tool-bar-item">外设</div>
                    <div class="tool-bar-item">配件</div>
                </div>
                <!--轮播图部分-->
                <div class="roll-content-right">
                    <div class="layui-carousel" id="test1">
                        <div carousel-item>
                            <div style="text-align: center;line-height: 250px;background-color: red;">条目1</div>
                            <div style="text-align: center;line-height: 250px;background-color: green;">条目2</div>
                            <div style="text-align: center;line-height: 250px;background-color: yellow;">条目3</div>
                            <div style="text-align: center;line-height: 250px;background-color: bisque;">条目4</div>
                            <div style="text-align: center;line-height: 250px;background-color: hotpink;">条目5</div>
                        </div>
                    </div>
                </div>
            </div>

            <!--那4个菱形-->
            <div class="lingxinglist">
                <div class="lingxing">
                    <div class="lingxingitem">
                        每日新品
                    </div>
                </div>
                <div class="lingxing">
                    <div class="lingxingitem">
                        限时抢购
                    </div>
                </div>
                <div class="lingxing">
                    <div class="lingxingitem">
                        热销榜单
                    </div>
                </div>
                <div class="lingxing">
                    <div class="lingxingitem">
                        随便逛逛
                    </div>
                </div>
            </div>

            <!-- 评测推荐 -->
            <div class="floorhd_tit_div">
                <span class="floorhd_tit">测评推荐</span>
            </div>

            <div class="cepingitemlist">
                <div class="ceping">
                    <div class="cepingitem">
                        笔记本测评
                    </div>
                </div>
                <div class="ceping">
                    <div class="cepingitem">
                        笔记本测评
                    </div>
                </div>
                <div class="ceping">
                    <div class="cepingitem">
                        笔记本测评
                    </div>
                </div>
                <div class="ceping">
                    <div class="cepingitem">
                        笔记本测评
                    </div>
                </div>
            </div>

            <!--最新热卖-->
            <div class="floorhd_tit_div">
                <span class="floorhd_tit">最新热卖</span>
            </div>

            <div class="hot-list">

                <div class="hot-list-item1">
                    <div class="hot-list-item-item">
                        <div class="hot-list-item-head-div">
                            <div class="hot-list-item-title1">外设</div>
                            <i class="layui-icon layui-icon-prev-circle"></i>
                            <div class="hot-list-item-title2">玩所未玩</div>
                        </div>
                        <div class="hot-list-item-content">
                            <img class="hover-img" src="/static/images/icon_jianpan.jpg" style="height: 50%; width: 100%;">
                            <div style="text-align: center; line-height: 50px;">罗技黑科技了解一下</div>
                            <div style="height: 1px; background-color: #999; width: 100px; margin-left: 90px;"></div>
                            <div style="text-align: center;font-size: 11px;color: #333333;padding: 20px 30px;">罗技的ROMER G机械轴体和LIGHTSYNC光效技术也值得我们去一探究竟。</div>
                        </div>
                    </div>
                </div>

                <div class="hot-list-item1">
                    <div class="hot-list-item-item">
                        <div class="hot-list-item-head-div">
                            <div class="hot-list-item-title1">配件</div>
                            <i class="layui-icon layui-icon-prev-circle"></i>
                            <div class="hot-list-item-title2">一个极客的诞生</div>
                        </div>
                        <div class="hot-list-item-content">
                            <div style="height: 50%; width: 100%;">
                                <img class="hover-img" src="/static/images/icon_xianshiqi1.jpg" width="120px" height="120px" style="margin: 10px;float: left;">
                                <div style="float: left; width: 120px; font-size: 13px; color: #333; margin-top: 50px;">AOC 32英寸曲面2K显示器144Hz吃鸡</div>
                            </div>
                            <div style="height: 50%; width: 100%;border-top: 1px solid #f2f2f2;">
                                <img class="hover-img" src="/static/images/icon_jianshu1.jpg" width="120px" height="120px" style="margin: 10px;float: left;">
                                <div style="float: left; width: 120px; font-size: 13px; color: #333; margin-top: 50px;">Razer/雷蛇 炼狱蝰蛇+萨诺狼蛛键鼠套装</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hot-list-item1">
                    <div class="hot-list-item-item">
                        <div class="hot-list-item-head-div">
                            <div class="hot-list-item-title1">小米</div>
                            <i class="layui-icon layui-icon-prev-circle"></i>
                            <div class="hot-list-item-title2">为生活</div>
                        </div>
                        <div class="hot-list-item-content">
                            <img class="hover-img" src="/static/images/icon_xiaomi1.jpg" width="70%" height="80%" style="margin-left: 15%;">
                            <div style="width: 100%; font-size: 14px; color: #333;text-align: center;line-height: 50px;">Xiaomi/小米 小米电视4A 65英寸4K超清</div>
                        </div>
                    </div>
                </div>

                <div class="hot-list-item1">
                    <div class="hot-list-item-item">
                        <div class="hot-list-item-head-div">
                            <div class="hot-list-item-title1">华为</div>
                            <i class="layui-icon layui-icon-prev-circle"></i>
                            <div class="hot-list-item-title2">畅我所想</div>
                        </div>
                        <div class="hot-list-item-content">
                            <img class="hover-img" src="/static/images/icon_huawei1.jpg" width="70%" height="80%" style="margin-left: 15%;">
                            <div style="width: 100%; font-size: 15px; color: #333;text-align: center;line-height: 50px;">Huawei/Mate 20 Pro 曲面屏</div>
                        </div>
                    </div>
                </div>

                <div class="hot-list-item1">
                    <div class="hot-list-item-item">
                        <div class="hot-list-item-head-div">
                            <div class="hot-list-item-title1">电脑频道</div>
                            <i class="layui-icon layui-icon-prev-circle"></i>
                            <div class="hot-list-item-title2">好电脑不贵</div>
                        </div>
                        <div class="hot-list-item-content">
                            <img class="hover-img" src="/static/images/icon_huasuo.png" width="140px" height="120px%" style="float: left">
                            <img class="hover-img" src="/static/images/ucon_dell.png" width="140px" height="120px%" style="float: left">
                            <img class="hover-img" src="/static/images/icon_acer.png" width="140px" height="120px%" style="float: left">
                            <img class="hover-img" src="/static/images/icon_hp.png" width="140px" height="120px%" style="float: left">
                            <div style="line-height: 40px;text-align: center;color: #333;">你想看的都在这里</div>
                        </div>
                    </div>
                </div>


                <div class="hot-list-item1">
                    <div class="hot-list-item-item">
                        <div class="hot-list-item-head-div">
                            <div class="hot-list-item-title1">外星人</div>
                            <i class="layui-icon layui-icon-prev-circle"></i>
                            <div class="hot-list-item-title2">预见未来</div>
                        </div>
                        <div class="hot-list-item-content">
                            <img class="hover-img" src="/static/images/icon_waixingren.jpg" style="height: 60%; width: 80%; margin-left: 10%;">
                            <div style="text-align: center;font-size: 11px;color: #333333;padding: 20px 30px;border-top: 1px solid #f2f2f2;">外星人Alienware 2018新款外星人游戏本17.3英寸笔记本游戏本电脑 【性价比】i7-8750 1070 16G FHD 1TB 机械+256 ssd</div>
                        </div>
                    </div>
                </div>


                <div class="hot-list-item1">
                    <div class="hot-list-item-item" style="background-color: #f0f3ef;">
                        <div style="height: 300px;width: 230px;border: 5px solid #000;position: absolute;margin-top: 15px;border-right: 0px;"></div>
                        <img class="hover-img" src="/static/images/icon_p1.jpg" style="height: 150px;width: 250px;position: absolute;margin-left: 30px;">
                        <img class="hover-img" src="/static/images/icon_p2.jpg" style="height: 150px;width: 250px;margin-top: 180px;position: absolute;margin-left: 30px;">
                    </div>
                </div>


                <div class="hot-list-item1">
                    <div class="hot-list-item-item">
                        <div class="hot-list-item-head-div">
                            <div class="hot-list-item-title1">新品首发</div>
                            <i class="layui-icon layui-icon-prev-circle"></i>
                            <div class="hot-list-item-title2">来看看清楚</div>
                        </div>
                        <div class="hot-list-item-content">
                            <img src="/static/images/icon_xinping1.jpg" style="height: 100%; width:100%; cursor: pointer;">
                        </div>
                    </div>
                </div>

                <div style="height: 350px; width: 300px; float: left;">
                    <div style="height: 330px; width: 280px; margin: 10px; background-color: white;">
                        <img class="hover-img" src="/static/images/icon_luyou.jpg" style="height: 100%; width:100%; cursor: pointer;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="./static/plugins/jquery/jquery-2.0.3.min.js  "></script>
    <script type="text/javascript" src="./static/plugins/layui/layui.js"></script>
    <script type="text/javascript" src="./static/js/index.js"></script>
    <script type="text/javascript" src="./static/js/public.js"></script>

</body>
</html>
