<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xc.shop.dao.FavoriteMapper">
  <resultMap id="BaseResultMap" type="com.xc.shop.bean.Favorite">
    <id column="favorite_id" jdbcType="VARCHAR" property="favoriteId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="good_id" jdbcType="VARCHAR" property="goodId" />
  </resultMap>
  <sql id="Base_Column_List">
    favorite_id, user_id, time, good_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from favorite
    where favorite_id = #{favoriteId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from favorite
    where favorite_id = #{favoriteId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xc.shop.bean.Favorite">
    <selectKey keyProperty="favoriteId" order="BEFORE" resultType="java.lang.String">
      select uuid_short()
    </selectKey>
    insert into favorite (favorite_id, user_id, time, 
      good_id)
    values (#{favoriteId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR},
      #{goodId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xc.shop.bean.Favorite">
    insert into favorite
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="favoriteId != null">
        favorite_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="goodId != null">
        good_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="favoriteId != null">
        #{favoriteId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="goodId != null">
        #{goodId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xc.shop.bean.Favorite">
    update favorite
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="goodId != null">
        good_id = #{goodId,jdbcType=VARCHAR},
      </if>
    </set>
    where favorite_id = #{favoriteId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xc.shop.bean.Favorite">
    update favorite
    set user_id = #{userId,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      good_id = #{goodId,jdbcType=VARCHAR}
    where favorite_id = #{favoriteId,jdbcType=VARCHAR}
  </update>

  <select id="selectByUser" parameterType="java.lang.String" resultType="com.xc.shop.vo.FavoritePo">
    select a.favorite_id as favoriteId,a.user_id as userId,
    concat(substring(a.time,1,4),'-',substring(a.time,5,2),'-',substring(a.time,7,2),' ',substring(a.time,9,2),':',substring(a.time,11,2),':',substring(a.time,13,2)) as time,
    b.computer_name as computerName,b.price
    from favorite a inner join computer b on a.good_id = b.good_id
    where user_id = #{userId,jdbcType=VARCHAR}
    order by a.time desc
  </select>

  <select id="selectByUserAndGood" parameterType="com.xc.shop.bean.Favorite" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from favorite
    where user_id = #{userId,jdbcType=VARCHAR} and good_id = #{goodId,jdbcType=VARCHAR}
  </select>

  <delete id="deleteFavorite" parameterType="java.util.List">
    delete from
    favorite
    where favorite_id in
    <foreach close=")" collection="list" item="item" open="(" separator=",">
      #{item,jdbcType=VARCHAR}
    </foreach>
  </delete>
</mapper>