<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xc.shop.dao.GoodGrandInfoMapper" >
  <resultMap id="BaseResultMap" type="com.xc.shop.bean.GoodGrandInfo" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="good_type_id" property="goodTypeId" jdbcType="VARCHAR" />
    <result column="brand_id" property="brandId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, good_type_id, brand_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from good_grand_info
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from good_grand_info
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xc.shop.bean.GoodGrandInfo" >
    insert into good_grand_info (ID, good_type_id, brand_id
      )
    values (#{id,jdbcType=INTEGER}, #{goodTypeId,jdbcType=VARCHAR}, #{brandId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xc.shop.bean.GoodGrandInfo" >
    insert into good_grand_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="goodTypeId != null" >
        good_type_id,
      </if>
      <if test="brandId != null" >
        brand_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodTypeId != null" >
        #{goodTypeId,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xc.shop.bean.GoodGrandInfo" >
    update good_grand_info
    <set >
      <if test="goodTypeId != null" >
        good_type_id = #{goodTypeId,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null" >
        brand_id = #{brandId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xc.shop.bean.GoodGrandInfo" >
    update good_grand_info
    set good_type_id = #{goodTypeId,jdbcType=VARCHAR},
      brand_id = #{brandId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>