<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xc.shop.dao.GoodImageInfoMapper" >
  <resultMap id="BaseResultMap" type="com.xc.shop.bean.GoodImageInfo" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="good_id" property="goodId" jdbcType="VARCHAR" />
    <result column="img_name" property="imgName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, good_id, img_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from good_image_info
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from good_image_info
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xc.shop.bean.GoodImageInfo" >
    insert into good_image_info (ID, good_id, img_name
      )
    values (#{id,jdbcType=INTEGER}, #{goodId,jdbcType=VARCHAR}, #{imgName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xc.shop.bean.GoodImageInfo" >
    insert into good_image_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="goodId != null" >
        good_id,
      </if>
      <if test="imgName != null" >
        img_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodId != null" >
        #{goodId,jdbcType=VARCHAR},
      </if>
      <if test="imgName != null" >
        #{imgName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xc.shop.bean.GoodImageInfo" >
    update good_image_info
    <set >
      <if test="goodId != null" >
        good_id = #{goodId,jdbcType=VARCHAR},
      </if>
      <if test="imgName != null" >
        img_name = #{imgName,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xc.shop.bean.GoodImageInfo" >
    update good_image_info
    set good_id = #{goodId,jdbcType=VARCHAR},
      img_name = #{imgName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>

  <!-- 根据goodId查询图片 -->
  <select id="selectImagesByGoodId" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from good_image_info
    where good_id = #{goodId}
  </select>

</mapper>

















