<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xc.shop.dao.MobilePhoneMapper" >
  <resultMap id="BaseResultMap" type="com.xc.shop.bean.MobilePhone" >
    <result column="good_id" property="goodId" jdbcType="VARCHAR" />
    <result column="computer_id" property="computerId" jdbcType="VARCHAR" />
    <result column="computer_name" property="computerName" jdbcType="VARCHAR" />
    <result column="computer_version" property="computerVersion" jdbcType="VARCHAR" />
    <result column="computer_colour" property="computerColour" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="computer_img_url" property="computerImgUrl" jdbcType="VARCHAR" />
    <result column="computer_CPU" property="computerCpu" jdbcType="VARCHAR" />
    <result column="computer_GPU" property="computerGpu" jdbcType="VARCHAR" />
    <result column="computer_ROM" property="computerRom" jdbcType="VARCHAR" />
    <result column="computer_RAM" property="computerRam" jdbcType="VARCHAR" />
    <result column="computer_screen_size" property="computerScreenSize" jdbcType="VARCHAR" />
    <result column="computer_screen_resolution" property="computerScreenResolution" jdbcType="VARCHAR" />
    <result column="computer_screen_refresh" property="computerScreenRefresh" jdbcType="VARCHAR" />
    <result column="material" property="material" jdbcType="VARCHAR" />
    <result column="system" property="system" jdbcType="VARCHAR" />
    <result column="weight" property="weight" jdbcType="VARCHAR" />
    <result column="brand_id" property="brandId" jdbcType="VARCHAR" />
    <result column="good_desc" property="goodDesc" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="mobil-phone-base-column">
    good_id, computer_id, computer_name,
    computer_version, computer_colour, price,
    computer_img_url, computer_CPU, computer_GPU,
    computer_ROM, computer_RAM, computer_screen_size,
    computer_screen_resolution, computer_screen_refresh,
    material, system, weight,
    brand_id, good_desc
  </sql>

  <insert id="insert" parameterType="com.xc.shop.bean.MobilePhone" >
    insert into mobile_phone (good_id, computer_id, computer_name, 
      computer_version, computer_colour, price, 
      computer_img_url, computer_CPU, computer_GPU, 
      computer_ROM, computer_RAM, computer_screen_size, 
      computer_screen_resolution, computer_screen_refresh, 
      material, system, weight, 
      brand_id, good_desc)
    values (#{goodId,jdbcType=VARCHAR}, #{computerId,jdbcType=VARCHAR}, #{computerName,jdbcType=VARCHAR}, 
      #{computerVersion,jdbcType=VARCHAR}, #{computerColour,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR}, 
      #{computerImgUrl,jdbcType=VARCHAR}, #{computerCpu,jdbcType=VARCHAR}, #{computerGpu,jdbcType=VARCHAR}, 
      #{computerRom,jdbcType=VARCHAR}, #{computerRam,jdbcType=VARCHAR}, #{computerScreenSize,jdbcType=VARCHAR}, 
      #{computerScreenResolution,jdbcType=VARCHAR}, #{computerScreenRefresh,jdbcType=VARCHAR}, 
      #{material,jdbcType=VARCHAR}, #{system,jdbcType=VARCHAR}, #{weight,jdbcType=VARCHAR}, 
      #{brandId,jdbcType=VARCHAR}, #{goodDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xc.shop.bean.MobilePhone" >
    insert into mobile_phone
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodId != null" >
        good_id,
      </if>
      <if test="computerId != null" >
        computer_id,
      </if>
      <if test="computerName != null" >
        computer_name,
      </if>
      <if test="computerVersion != null" >
        computer_version,
      </if>
      <if test="computerColour != null" >
        computer_colour,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="computerImgUrl != null" >
        computer_img_url,
      </if>
      <if test="computerCpu != null" >
        computer_CPU,
      </if>
      <if test="computerGpu != null" >
        computer_GPU,
      </if>
      <if test="computerRom != null" >
        computer_ROM,
      </if>
      <if test="computerRam != null" >
        computer_RAM,
      </if>
      <if test="computerScreenSize != null" >
        computer_screen_size,
      </if>
      <if test="computerScreenResolution != null" >
        computer_screen_resolution,
      </if>
      <if test="computerScreenRefresh != null" >
        computer_screen_refresh,
      </if>
      <if test="material != null" >
        material,
      </if>
      <if test="system != null" >
        system,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="brandId != null" >
        brand_id,
      </if>
      <if test="goodDesc != null" >
        good_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodId != null" >
        #{goodId,jdbcType=VARCHAR},
      </if>
      <if test="computerId != null" >
        #{computerId,jdbcType=VARCHAR},
      </if>
      <if test="computerName != null" >
        #{computerName,jdbcType=VARCHAR},
      </if>
      <if test="computerVersion != null" >
        #{computerVersion,jdbcType=VARCHAR},
      </if>
      <if test="computerColour != null" >
        #{computerColour,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="computerImgUrl != null" >
        #{computerImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="computerCpu != null" >
        #{computerCpu,jdbcType=VARCHAR},
      </if>
      <if test="computerGpu != null" >
        #{computerGpu,jdbcType=VARCHAR},
      </if>
      <if test="computerRom != null" >
        #{computerRom,jdbcType=VARCHAR},
      </if>
      <if test="computerRam != null" >
        #{computerRam,jdbcType=VARCHAR},
      </if>
      <if test="computerScreenSize != null" >
        #{computerScreenSize,jdbcType=VARCHAR},
      </if>
      <if test="computerScreenResolution != null" >
        #{computerScreenResolution,jdbcType=VARCHAR},
      </if>
      <if test="computerScreenRefresh != null" >
        #{computerScreenRefresh,jdbcType=VARCHAR},
      </if>
      <if test="material != null" >
        #{material,jdbcType=VARCHAR},
      </if>
      <if test="system != null" >
        #{system,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=VARCHAR},
      </if>
      <if test="goodDesc != null" >
        #{goodDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="selectMobilePhoneGoodDetail" resultMap="BaseResultMap">
    select <include refid="mobil-phone-base-column"/> from mobile_phone
    where good_id = #{goodId}
  </select>

</mapper>



















