<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xc.shop.dao.OrderDetailsMapper" >
  <resultMap id="BaseResultMap" type="com.xc.shop.bean.OrderDetails" >
    <id column="detail_id" property="detailId" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="good_id" property="goodId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    detail_id, number, order_id, good_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from order_detail
    where detail_id = #{detailId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from order_detail
    where detail_id = #{detailId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xc.shop.bean.OrderDetails" >
    <selectKey resultType="java.lang.String" keyProperty="detailId" order="BEFORE" >
      select uuid_short()
    </selectKey>
    insert into order_detail (detail_id, number, order_id, 
      good_id)
    values (#{detailId,jdbcType=VARCHAR}, #{number,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, 
      #{goodId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xc.shop.bean.OrderDetails" >
    insert into order_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="detailId != null" >
        detail_id,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="goodId != null" >
        good_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="detailId != null" >
        #{detailId,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="goodId != null" >
        #{goodId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xc.shop.bean.OrderDetails" >
    update order_detail
    <set >
      <if test="number != null" >
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="goodId != null" >
        good_id = #{goodId,jdbcType=VARCHAR},
      </if>
    </set>
    where detail_id = #{detailId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xc.shop.bean.OrderDetails" >
    update order_detail
    set number = #{number,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=VARCHAR},
      good_id = #{goodId,jdbcType=VARCHAR}
    where detail_id = #{detailId,jdbcType=VARCHAR}
  </update>

  <select id="selectDetailsByOrder" parameterType="java.lang.String" resultType="com.xc.shop.vo.OrderDetailsPo">
    select b.good_img as goodImg,b.good_name as goodName,b.good_price as goodPrice,a.number,a.detail_id as detailId,a.order_id as orderId
    from order_detail a inner join good_base_info b
    on a.good_id=b.good_id
    where a.order_id=#{orderId,jdbcType=VARCHAR}
  </select>
</mapper>