<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xc.shop.dao.ShoppingCartMapper" >
  <resultMap id="BaseResultMap" type="com.xc.shop.bean.ShoppingCart" >
    <id column="cart_id" property="cartId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="good_id" property="goodId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    cart_id, user_id, good_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from shopping_cart
    where cart_id = #{cartId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from shopping_cart
    where cart_id = #{cartId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xc.shop.bean.ShoppingCart" >
    insert into shopping_cart (cart_id, user_id, good_id
      )
    values (#{cartId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{goodId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xc.shop.bean.ShoppingCart" >
    insert into shopping_cart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cartId != null" >
        cart_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="goodId != null" >
        good_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cartId != null" >
        #{cartId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="goodId != null" >
        #{goodId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xc.shop.bean.ShoppingCart" >
    update shopping_cart
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="goodId != null" >
        good_id = #{goodId,jdbcType=INTEGER},
      </if>
    </set>
    where cart_id = #{cartId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xc.shop.bean.ShoppingCart" >
    update shopping_cart
    set user_id = #{userId,jdbcType=VARCHAR},
      good_id = #{goodId,jdbcType=INTEGER}
    where cart_id = #{cartId,jdbcType=VARCHAR}
  </update>
</mapper>